.header{
    background:
        linear-gradient(
            rgba(0, 45, 90, 0.45),
            rgba(0, 25, 60, 0.55)
        ),
        url("/header-bg.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;

    box-shadow: 0 2px 10px rgba(0,0,0,.25);

    a, ul, button{
        text-decoration: none;
        color: white;
    }

    a:hover{
        color: #ffe082;
        text-decoration: underline;
    }

    button:hover{
        color: #ffe082;
        text-decoration: underline;
    }

    li:hover,
    button:hover{
        background-color: rgba(255,255,255,.12);
        transition: .3s;
    }

    button{
        background: transparent;
        border: none;
        cursor: pointer;
    }

    li{
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 6px;
    }

    ul,
    nav{
        height: 100%;
    }

    ul{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
    }

    button{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        padding: 0 1rem;
    }
}